*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

input, button, textarea, select {
  font: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* ----------------------------------------
 Styling for the project elements from here
 ------------------------------------------ */

:root {
    display: flex;
    
}